node_modules/
dist/
.env
*.log
.DS_Store

# Assets (not for public distribution)
assets/
webapp/assets/
webapp/test/
PROMPT_WEBAPP.md

# Visual Studio
.vs/
*.suo
*.obj
*.o
*.lib
*.dll
*.ipch
*.iobj
*.ipdb
*.pdb
*.res
Release/
Debug/
