/*  VisualPlace plugin: generic CSV output based
 *
 *  Copyright (c) CompuPhase, 2013-2023
 *
 *  This software is provided "as-is", without any express or implied warranty.
 *  In no event will the authors be held liable for any damages arising from
 *  the use of this software.
 *
 *  Permission is granted to anyone to use this software for any purpose,
 *  including commercial applications, and to alter it and redistribute it
 *  freely, subject to the following restrictions:
 *
 *  1.  The origin of this software must not be misrepresented; you must not
 *      claim that you wrote the original software. If you use this software in
 *      a product, an acknowledgment in the product documentation would be
 *      appreciated but is not required.
 *  2.  Altered source versions must be plainly marked as such, and must not be
 *      misrepresented as being the original software.
 *  3.  This notice may not be removed or altered from any source distribution.
 */

#include <windows.h>
#include "csvexport.h"

CentroidDialog DIALOGEX  20, 40, 280, 292
EXSTYLE WS_EX_CLIENTEDGE
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Generic CSV Export"
FONT 8, "Tahoma"
BEGIN
  CONTROL "Template",IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 6, 268, 28
  CONTROL "Selected",IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 18, 40, 8
  CONTROL "",        IDC_TEMPLATE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 16, 80, 100
  CONTROL "new template",IDC_NEWTEMPLATE, "BUTTON", BS_DEFPUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 142, 15, 80, 15

  CONTROL "Side",    IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 44, 18, 8
  CONTROL "",        IDC_SIDE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 42, 102, 100
  CONTROL "Stage",   IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 44, 20, 8
  CONTROL "",        IDC_STAGE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 42, 96, 100

  CONTROL "Columns", IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 61, 126, 204
  CONTROL "1",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 78, 12, 8
  CONTROL "",        IDC_COLUMN1, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 76, 100, 100
  CONTROL "2",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 94, 12, 8
  CONTROL "",        IDC_COLUMN2, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 92, 100, 100
  CONTROL "3" ,      IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 110, 12, 8
  CONTROL "",        IDC_COLUMN3, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 108, 100, 100
  CONTROL "4",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 126, 12, 8
  CONTROL "",        IDC_COLUMN4, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 124, 100, 100
  CONTROL "5",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 142, 12, 8
  CONTROL "",        IDC_COLUMN5, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 140, 100, 100
  CONTROL "6",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 158, 12, 8
  CONTROL "",        IDC_COLUMN6, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 156, 100, 100
  CONTROL "7",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 174, 12, 8
  CONTROL "",        IDC_COLUMN7, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 172, 100, 100
  CONTROL "8",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 190, 12, 8
  CONTROL "",        IDC_COLUMN8, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 188, 100, 100
  CONTROL "9",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 206, 12, 8
  CONTROL "",        IDC_COLUMN9, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 204, 100, 100
  CONTROL "10",      IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 222, 12, 8
  CONTROL "",        IDC_COLUMN10, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 220, 100, 100
  CONTROL "11",      IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 238, 12, 8
  CONTROL "",        IDC_COLUMN11, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 236, 100, 100

  CONTROL "Zero orientations && rotations", IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 142, 61, 132, 84
  CONTROL "Passive 2-pin", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 77, 64, 8
  CONTROL "",        IDC_ZERO_PASV, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 75, 54, 100
  CONTROL "Active 2-pin", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 91, 64, 8
  CONTROL "",        IDC_ZERO_DIODE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 89, 54, 100
  CONTROL "Miscellaneous", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 105, 64, 8
  CONTROL "",        IDC_ZERO_MISC, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 103, 54, 100
  CONTROL "Angle range", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 119, 64, 8
  CONTROL "",        IDC_ANGLE_RANGE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 117, 54, 100
  CONTROL "Clockwise rotations", IDC_ANGLE_CLOCK, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 132, 120, 10

  CONTROL "Options", IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 142, 153, 132, 112
  CONTROL "File extension", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 166, 64, 8
  CONTROL "",        IDC_EXTENSION, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 165, 54, 10, WS_EX_STATICEDGE
  CONTROL "Separator", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 178, 64, 8
  CONTROL "",        IDC_SEPARATOR, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 212, 176, 54, 100
  CONTROL "Unit",    IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 191, 36, 8
  CONTROL "mm",      IDC_UNIT_MM, "BUTTON", BS_AUTORADIOBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_GROUP, 212, 191, 24, 10
  CONTROL "inch",    IDC_UNIT_INCH, "BUTTON", BS_AUTORADIOBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 240, 191, 24, 10
  CONTROL "Fields in double quotes", IDC_ENQUOTE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 202, 124, 10
  CONTROL "Positions relative to fiducial", IDC_ALIGN_FID, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 214, 124, 10
  CONTROL "Include fiducials", IDC_INCLUDE_FID, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 225, 124, 10
  CONTROL "Invert Y-axis", IDC_SWAP_Y, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 238, 124, 10
  CONTROL "Include header", IDC_ADDHEADER, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 250, 124, 10

  CONTROL "OK",      IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 273, 50, 14
  CONTROL "Cancel",  IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 273, 50, 14
  CONTROL "Help",    IDHELP, "BUTTON", BS_PUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 273, 50, 14
END

BOMDialog DIALOGEX  20, 40, 280, 213
EXSTYLE WS_EX_CLIENTEDGE
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Generic CSV Export"
FONT 8, "Tahoma"
BEGIN
  CONTROL "Columns", IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 6, 6, 126, 183
  CONTROL "1",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 22, 12, 8
  CONTROL "",        IDC_COLUMN1, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 20, 100, 100
  CONTROL "2",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 37, 12, 8
  CONTROL "",        IDC_COLUMN2, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 35, 100, 100
  CONTROL "3" ,      IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 52, 12, 8
  CONTROL "",        IDC_COLUMN3, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 50, 100, 100
  CONTROL "4",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 67, 12, 8
  CONTROL "",        IDC_COLUMN4, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 65, 100, 100
  CONTROL "5",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 82, 12, 8
  CONTROL "",        IDC_COLUMN5, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 80, 100, 100
  CONTROL "6",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 97, 12, 8
  CONTROL "",        IDC_COLUMN6, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 95, 100, 100
  CONTROL "7",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 112, 12, 8
  CONTROL "",        IDC_COLUMN7, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 110, 100, 100
  CONTROL "8",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 127, 12, 8
  CONTROL "",        IDC_COLUMN8, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 125, 100, 100
  CONTROL "9",       IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 142, 12, 8
  CONTROL "",        IDC_COLUMN9, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 140, 100, 100
  CONTROL "10",      IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 157, 12, 8
  CONTROL "",        IDC_COLUMN10, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 155, 100, 100
  CONTROL "11",      IDC_STATICTEXT, "STATIC", SS_RIGHT | WS_CHILD | WS_VISIBLE, 8, 172, 12, 8
  CONTROL "",        IDC_COLUMN11, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 24, 170, 100, 100

  CONTROL "Template",IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 142, 6, 132, 49
  CONTROL "Selected",IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 19, 44, 8
  CONTROL "",        IDC_TEMPLATE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 192, 17, 78, 100
  CONTROL "new template",IDC_NEWTEMPLATE, "BUTTON", BS_DEFPUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 191, 35, 80, 15

  CONTROL "Assembly stage",IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 142, 57, 132, 58
  CONTROL "Selected",IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 70, 44, 8
  CONTROL "",        IDC_MOUNTSTAGE, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 192, 68, 78, 100
  CONTROL "Add stage id to designators", IDC_MARKSTAGE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 84, 124, 10
  CONTROL "Stage marker", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 158, 98, 46, 8
  CONTROL "",        IDC_STAGEMARKER, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 96, 25, 100

  CONTROL "Options", IDC_STATICTEXT, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 142, 117, 132, 72
  CONTROL "File extension", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 132, 54, 8
  CONTROL "",        IDC_EXTENSION, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 131, 50, 10, WS_EX_STATICEDGE
  CONTROL "Separator", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 148, 146, 54, 8
  CONTROL "",        IDC_SEPARATOR, "COMBOBOX", CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_HASSTRINGS | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 202, 144, 50, 100
  CONTROL "Fields in double quotes", IDC_ENQUOTE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 163, 124, 10
  CONTROL "Include 'do not mount' parts", IDC_INC_NOMOUNT, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 175, 124, 10

  CONTROL "OK",      IDOK, "BUTTON", BS_DEFPUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 224, 193, 50, 14
  CONTROL "Cancel",  IDCANCEL, "BUTTON", BS_PUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 164, 193, 50, 14
  CONTROL "Help",    IDHELP, "BUTTON", BS_PUSHBUTTON | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 193, 50, 14
END

NewTemplateDialog DIALOGEX 120, 60, 137, 20
EXSTYLE WS_EX_CLIENTEDGE
STYLE DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "New template"
FONT 8, "Tahoma"
BEGIN
  CONTROL "Name", IDC_STATICTEXT, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 8, 6, 40, 8
  CONTROL "",     IDC_EDITNAME, "EDIT", ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 5, 60, 10, WS_EX_STATICEDGE
  CONTROL "OK",   IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE, 108, 4, 24, 11
END


/*  Version information
 *
 *  All strings MUST have an explicit \0. See the Windows SDK documentation
 *  for details on version information and the VERSIONINFO structure.
 */
#define VERSION              3
#define REVISION             3
#define BUILD                7179
#define VERSIONSTR           "3.3.7179\0"
#define VERSIONNAME          "CSVExport.dll\0"
#define VERSIONDESCRIPTION   "Generic centroid export plug-in for VisualPlace\0"
#define VERSIONCOMPANYNAME   "CompuPhase\0"
#define VERSIONPRODUCTNAME   "VisualPlace\0"
#define VERSIONCOPYRIGHT     "Copyright \251 CompuPhase 2013-2023\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    VERSION, REVISION, BUILD, 0
PRODUCTVERSION VERSION, REVISION, BUILD, 0
FILEFLAGSMASK  0x0000003FL
FILEFLAGS      0
#if defined(WIN32)
  FILEOS       VOS__WINDOWS32
#else
  FILEOS       VOS__WINDOWS16
#endif
FILETYPE       VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      VERSIONCOMPANYNAME
            VALUE "FileDescription",  VERSIONDESCRIPTION
            VALUE "FileVersion",      VERSIONSTR
            VALUE "InternalName",     VERSIONNAME
            VALUE "LegalCopyright",   VERSIONCOPYRIGHT
            VALUE "OriginalFilename", VERSIONNAME
            VALUE "ProductName",      VERSIONPRODUCTNAME
            VALUE "ProductVersion",   VERSIONSTR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
